// font-face – after Bourbon
fontface($font-family, $path, $weight = 400, $fontstyle = normal)
    @font-face
        font-family: $font-family
        font-weight: $weight
        font-style: $fontstyle
        src: url($path+'.eot')
        src: url($path+'.eot?#iefix') format('embedded-opentype'), url($path+'.woff') format('woff'), url($path+'.ttf') format('truetype'), url($path+'.svg#B') format('svg')


grid-guide(columns = 3, gut = 1rem, wide = 80rem, pad = 2rem, cc = rgba(red, .1), gc = transparent)
	&:after
		col = (100%/columns)
		$max-width = wide + 2*gut - 2*pad
		position: fixed
		display: block
		top: 0
		right: 0
		left: 0
		height: 100%
		margin: 0 auto
		max-width: $max-width
		z-index: 999999
		box-sizing: border-box
		pointer-events: none

		$stops = ''
		for $num in (0..columns)
			end = ''
			if $num < columns
				end = ','
			$stops = $stops + ( gc $num*col + gut ',' cc $num*col + gut ',' cc ($num + 1)*col - gut ',' gc ($num + 1)*col - gut end)
		background-image: linear-gradient(left, $stops)

		content: join(' ', columns, ' columns | ', gut, ' gutter | ', $max-width)
		font-family: monospace
		font-size: .7rem
		color: rgba(black, .5)



all-text-inputs()
	textarea,
	input[type="color"],
	input[type="date"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="email"],
	input[type="month"],
	input[type="number"],
	input[type="password"],
	input[type="search"],
	input[type="tel"],
	input[type="text"],
	input[type="time"],
	input[type="url"],
	input[type="week"]
		{block}

icon()
	font-family: 'icons'
	speak: none
	font-style: normal
	font-weight: normal
	font-variant: normal
	text-transform: none

	/* Enable Ligatures ================ */
	-webkit-font-feature-settings: "liga"
	-moz-font-feature-settings: "liga=1"
	-moz-font-feature-settings: "liga"
	-ms-font-feature-settings: "liga" 1
	-o-font-feature-settings: "liga"
	font-feature-settings: "liga"

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
