// GENERAL PRUPOSE VARIABLES
/////////////////////////////////////////////

// GRID
$grid-width = 84rem
$gutter = 2.4rem

// BREAKPOINTS
// For use with rupture
// width, anti-overlap, density, orientation, device
$tablet-p = 780px, true, 'retina', 'portrait', true

// COLORS
$wk-blue = blue
$wk-yellow = #FEE94E


// FONTS
$SF = 'SF', 'SF UI Text', 'Acumin Pro', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif
$M1 = 'M1', 'Moderat', 'SF', 'SF UI Text', 'Acumin Pro', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif
$M2 = 'M2', 'Moderat', 'SF', 'SF UI Text', 'Acumin Pro', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif

// IMAGES
$img-cover-1400   = url('/static/images/covers/wk-cover-1400.jpg')
$img-cover-1080   = url('/static/images/covers/wk-cover-1080.jpg')
$img-cover-780    = url('/static/images/covers/wk-cover-780.jpg')
$img-cover-780v   = url('/static/images/covers/wk-cover-780v.jpg')
$img-cover-1400x2 = url('/static/images/covers/wk-cover-1400@2.jpg')
$img-cover-1080x2 = url('/static/images/covers/wk-cover-1080@2.jpg')
$img-cover-780x2  = url('/static/images/covers/wk-cover-780@2.jpg')
$img-cover-780vx2 = url('/static/images/covers/wk-cover-780v@2.jpg')
$img-cover-ph     = url('/static/images/covers/wk-cover@ph.png')

// LOGOS
$img-logo-m102       = url('/static/images/logos/miastodwa.svg')
$img-logo-m102-bw    = url('/static/images/logos/miastodwa-bw.svg')
$img-logo-dm         = url('/static/images/logos/dm.svg')
$img-logo-gw         = url('/static/images/logos/gw.svg')
$img-logo-miasta     = url('/static/images/logos/miasta.svg')
$img-logo-monitor    = url('/static/images/logos/monitor.svg')
$img-logo-mw         = url('/static/images/logos/mw.svg')
$img-logo-nn6t       = url('/static/images/logos/nn6t.svg')
$img-logo-ps         = url('/static/images/logos/ps.svg')
$img-logo-tsc        = url('/static/images/logos/tsc.svg')
$img-logo-warexpo    = url('/static/images/logos/warexpo.svg')
$img-logo-warszawa   = url('/static/images/logos/warszawa.svg')
$img-logo-wdu        = url('/static/images/logos/wdu.svg')

// UI
$img-align-left    = url('/static/images/ui/align-left.svg')
$img-align-center  = url('/static/images/ui/align-center.svg')
$img-align-right   = url('/static/images/ui/align-right.svg')
$img-case-none     = url('/static/images/ui/case-none.svg')
$img-case-upper    = url('/static/images/ui/case-upper.svg')


// EASINGS
$easeInOutCirc= cubic-bezier(0.785, 0.135, 0.15, 0.86)



// GENERIC HTML STYLES
/////////////////////////////////////////////

// BASE FONT
$base_font_family = $SF
$extra_font_family = $M2

// BASE SIZES
$base_font_size= 1.5rem
$base_line_height= $base_font_size * 1.5
$base_weight= 400

// BASE COLORS
$base_font_color= $oj-dark
$base_link_color= $oj-violet
$base_hover_color= $oj-violet

// LISTS
$list_margin1= 0 0 1em 3em
$list_margin2= 0 0 1em 2em

// TABLES
$table_border_color= #CBCBCB

// PRE
$pre_margin= 2em 0 2em 2em
$pre_padding= 1em
$pre_bg= #CBCBCB

// ABR and ACRONYM
$abbr_border= 1px dotted black

//FORM
$form_text_color=           black
$form_border_color=         #CBCBCB
$form_border_color_hover=   rgba($form_border_color, .5)
$form_border_color_focus=   rgba($form_border_color, .5)
$form_box_shadow=           rgba(black, .1) 0px 1px 2px 0px inset
$form_box_shadow_focus=     none
$form_border_radius=        3px
$form_font_family=          $base_font_family
$form_font_weight=          400


// SPECIAL
$cover-ratio = 50vw
