@import 'nib'
@import 'rupture'
global-reset()
@import 'imports/variables'
@import 'imports/mixins'
@import 'imports/extends'
@import 'imports/typography'
@import 'imports/animations'
@import 'imports/forms'

@lost flexbox flex

html
	font-size: 15px
	+below(1500px)
		font-size: 13px
	+below(1000px)
		font-size: 12px
	+below(800px)
		font-size: 10px
	+below(600px)
		font-size: 9px
body
	// lost-utility: edit
	// grid-guide(12, $gutter/2, $grid-width, $gutter/2)
*
	box-sizing: border-box
