// GENERAL PRUPOSE VARIABLES
/////////////////////////////////////////////

// GRID
$grid-width = 84rem
$gutter = 2.4rem

// BREAKPOINTS
// For use with rupture
// width, anti-overlap, density, orientation, device
$tablet-p = 780px, true, 'retina', 'portrait', true

// COLORS
$wk-blue = blue
$wk-yellow = #FEE94E


// FONTS
$SF = 'SF', 'SF UI Text', 'Acumin Pro', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif
$M1 = 'M1', 'Moderat', 'SF', 'SF UI Text', 'Acumin Pro', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif
$M2 = 'M2', 'Moderat', 'SF', 'SF UI Text', 'Acumin Pro', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif

// IMAGES
$img-cover-1400   = url('../assets/images/covers/wk-cover-1400.jpg')
$img-cover-1080   = url('../assets/images/covers/wk-cover-1080.jpg')
$img-cover-780    = url('../assets/images/covers/wk-cover-780.jpg')
$img-cover-780v   = url('../assets/images/covers/wk-cover-780v.jpg')
$img-cover-1400x2 = url('../assets/images/covers/wk-cover-1400@2.jpg')
$img-cover-1080x2 = url('../assets/images/covers/wk-cover-1080@2.jpg')
$img-cover-780x2  = url('../assets/images/covers/wk-cover-780@2.jpg')
$img-cover-780vx2 = url('../assets/images/covers/wk-cover-780v@2.jpg')
$img-cover-ph     = url('../assets/images/covers/wk-cover@ph.png')

// LOGOS
$img-logo-m102       = url('/images/logos/miastodwa.svg')
$img-logo-wdu        = url('/images/logos/wdu.svg')

// UI
$img-align-left    = url('../assets/images/ui/align-left.svg')
$img-align-center  = url('../assets/images/ui/align-center.svg')
$img-align-right   = url('../assets/images/ui/align-right.svg')
$img-case-none     = url('../assets/images/ui/case-none.svg')
$img-case-upper    = url('../assets/images/ui/case-upper.svg')
$img-fb            = url('../assets/images/ui/fb.svg')
$img-gh            = url('../assets/images/ui/gh.svg')
$img-be            = url('../assets/images/ui/be.svg')


// EASINGS
$easeInOutCirc = cubic-bezier(0.785, 0.135, 0.15, 0.86)



// GENERIC HTML STYLES
/////////////////////////////////////////////

// BASE FONT
$base_font_family = $SF
$extra_font_family = $M2

// BASE SIZES
$base_font_size = 1.5rem
$base_line_height = $base_font_size * 1.5
$base_weight = 400

// BASE COLORS
$base_font_color = black
$base_link_color = blue
$base_hover_color = blue

// LISTS
$list_margin1 = 0 0 1em 3em
$list_margin2 = 0 0 1em 2em

// TABLES
$table_border_color = #CBCBCB

// PRE
$pre_margin = 2em 0 2em 2em
$pre_padding = 1em
$pre_bg = #CBCBCB

// ABR and ACRONYM
$abbr_border = 1px dotted black

//FORM
$form_text_color =           black
$form_border_color =         #CBCBCB
$form_border_color_hover =   rgba($form_border_color, .5)
$form_border_color_focus =   rgba($form_border_color, .5)
$form_box_shadow =           rgba(black, .1) 0px 1px 2px 0px inset
$form_box_shadow_focus =     none
$form_border_radius =        3px
$form_font_family =          $base_font_family
$form_font_weight =          400


// SPECIAL
$cover-ratio = 50vw
