// GENERAL PRUPOSE VARIABLES
/////////////////////////////////////////////

// GRID
$grid-width = 84rem
$gutter = 2.4rem

// BREAKPOINTS
$mobile-v = 400
$mobile-h = 600
$tablet-v = 800
$tablet-h = 1050

// COLORS
$oj-light 		= #fafafc
$oj-violet 		= #5200cc
$oj-green		= #1afcaf
$oj-palegreen	= #b6efbb
$oj-palegreen2	= #a4d7a9
$oj-pink 		= #fdebe8
$oj-yellow		= #f7e98b
$oj-dark 		= #404040
$oj-dark2		= #231f20
$oj-grey	 	= #d8d8d8
$oj-dim 		= #151424



// FONTS
$SF = 'SF', 'SF UI Text', 'Acumin Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif
$SC = 'SC', 'Monaco', monospace

// IMAGES
$map-marker-svg = url('../ui/map-marker.svg')

// EASINGS
$easeInOutCirc= cubic-bezier(0.785, 0.135, 0.15, 0.86)



// GENERIC HTML STYLES
/////////////////////////////////////////////

// BASE FONT
$base_font_family = $SF
$extra_font_family = $P

// BASE SIZES
$base_font_size= 1.5rem
$base_line_height= $base_font_size * 1.5
$base_weight= 400

// BASE COLORS
$base_font_color= $oj-dark
$base_link_color= $oj-violet
$base_hover_color= $oj-violet

// LISTS
$list_margin1= 0 0 1em 3em
$list_margin2= 0 0 1em 2em

// TABLES
$table_border_color= #CBCBCB

// PRE
$pre_margin= 2em 0 2em 2em
$pre_padding= 1em
$pre_bg= #CBCBCB

// ABR and ACRONYM
$abbr_border= 1px dotted black

//FORM
$form_text_color=           black
$form_border_color=         #CBCBCB
$form_border_color_hover=   rgba($form_border_color, .5)
$form_border_color_focus=   rgba($form_border_color, .5)
$form_box_shadow=           rgba(black, .1) 0px 1px 2px 0px inset
$form_box_shadow_focus=     none
$form_border_radius=        3px
$form_font_family=          $base_font_family
$form_font_weight=           400


// SPECIAL
$video-ratio = 50vw
